@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --light-white-color: #f0f0f0;
  --light-gray-color: #f5f5f5;
  --search-hover: #eeeeee;
  --dark-gray-color: #dddddd;
  --border-color: #d4d4d4;
  --primary-color: #FF0000;
  --secondary-color: #282828;
  --overlay-dark-color: rgba(0, 0, 0, 0.6);
  --header-height: 60px
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


/* ALTERE DEPOIS */
.search-button img {
  width: 24px;
}

.container {
  padding-top: var(--header-height);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: var(--white-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 1rem;
}

.container :where(.logo-image, .user-image) {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
}

.container :where(.nav-section, .search-form, .nav-logo) {
  display: flex;
  align-items: center;
}

.container .nav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  background: none;
}

.container .nav-button:hover {
  background-color: var(--dark-gray-color);
}


.container .nav-section {
  gap: 1rem;
}

.container .nav-logo {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
}

.container .nav-logo .logo-text {
  font-size: 1.25rem;
  color: var(--secondary-color);
}

.container .nav-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container .nav-center .mic-button {
  background: var(--light-gray-color);
}

.container .nav-center .mic-button:hover {
  background: var(--dark-gray-color);
}

.container .nav-center .search-button:hover {
  background: var(--search-hover);
}

.container .search-form {
  max-width: 630px;
  flex: 1;
  height: 40px;
  display: flex;
}

.search-input-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  height: 40px;
}

.search-icon-inside {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
}

.search-input-container:focus-within .search-icon-inside {
  opacity: 1;
}

.container .nav-right .create-button {
  background: var(--light-gray-color);
  width: 86px;
  border-radius: 3.1rem;
  font-size: 14px;
  font-weight: 500;
}

.container .nav-right .create-button:hover {
  background: var(--dark-gray-color);
}


.container .search-form .search-input {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 40px;
  outline: none;
  font-size: 1rem;
  border-radius: 3.1rem 0 0 3.1rem;
  border: 1px solid var(--border-color);
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.container .search-form .search-input:focus {
  border-color: #1c62b9;
  box-shadow: 0 0 0 1px rgba(28, 98, 185, 0.3);
}

.keyboard-icon {
  position: absolute;
  right: 12px;
  height: 11px;
  width: auto;
  cursor: pointer;
}

.container .search-form .search-button {
  width: auto;
  padding: 0 1.25rem;
  border-radius: 0 3.1rem 3.1rem 0;
  border: 1px solid var(--border-color);
  border-left: 0;
  background: var(--light-gray-color);
}

.container .nav-right {
  padding-right: 12px;
}





/* CONTEÚDO / EXEMPLO */

.main-content {
  display: flex;
  gap: 24px;
  padding: 20px;
  min-width: 100vw;
  margin: 0 auto;
}

.left-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 80px;
}


.video-player {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;

}

.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 16px;
}

.right-section {
  flex: 1;
  max-width: 400px;
  overflow-y: auto;
  height: calc(100vh - var(--header-height) - 20px);
}

.related-tags ul {
  display: flex;
  list-style: none;
  gap: 2%;
  align-items: center;
}

.related-tags ul li {
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.05);
}

.related-video {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.thumb {
  margin-right: 8px;
}

.thumb img {
  border-radius: 8px;
  width: 168px;
  height: 94px;
}

#tituloThumb {
  font-size: 14px;
  color: #0f0f0f;
  font-weight: 700;
  margin-bottom: 4px;
}


#canalThumb,
#infoThumb {
  color: #606060;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 2px;
}

#novoThumb {
  color: #606060;
  background-color: rgba(0, 0, 0, 0.05);
  background-size: auto;
  font-size: 12px;
  font-weight: 500;
  width: 37px;
  height: 18px;
  padding: 0 4px;
}

.shorts{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 24px;
}

.shortContainer{
  display: flex;
  gap: 4px;
}

.shorts > p{
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
}

.short{
  margin-top: 24px;
}

.imgShort img {
  border-radius: 8px;
  width: 131px;
  height: 238px
}


/* FIM CONTEÚDO / EXEMPLO */





.main-layout {
  display: flex;
  overflow-y: auto;
}

.main-layout .sidebar {
  position: fixed;
  width: 280px;
  padding: 0 0.7rem 0;
  left: 0;
  top: 0;
  z-index: 20;
  height: 100vh;
  transition: 0.2s ease;
  background-color: var(--white-color);

}

.sidebar .link-container {
  overflow-y: auto;
  padding: 1rem 0 2rem;
  scrollbar-width: thin;
  height: calc(100vh - 60px);
  scrollbar-color: transparent transparent;
  scroll-behavior: auto;
}

.sidebar .link-container:hover {
  scrollbar-color: #a6a6a6 transparent;
}

.sidebar .link-section .link-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 0.938rem;
  padding: 0.37rem 0.75rem;
  margin-bottom: 0.25rem;
  color: var(--black-color);
  border-radius: 0.5rem;
  text-decoration: none;
}

.sidebar .link-section .link-item:hover {
  background: var(--light-gray-color);
}

.sidebar .link-section .link-item span {
  font-size: 1.4rem;
  margin-right: 0.63rem;

}

.sidebar .link-section .section-title {
  display: flex;
  align-items: center;
  font-size: 0.938rem;
  font-weight: 600;
  color: var(--black-color);
  margin: 1rem 0 0.5rem 0.5rem;
}

.sidebar .section-separator {
  height: 1px;
  margin: 0.625rem 0;
  background: var(--dark-gray-color);
}

.link-section .eu-title span {
  margin-left: 6px;
}

/* Sidebar ativação */
body.sidebar-hidden .main-layout .sidebar {
  width: 0;
  padding: 0;
  left: -280px;
}


.main-layout .sidebar .nav-left {
  display: flex;
  padding: 0.5rem 0.3rem;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: none;
  transition: opacity 0.2s ease;
  opacity: 0;
}

body:not(.sidebar-hidden) .overlay {
  display: block;
  opacity: 1;
}

body:not(.sidebar-hidden) {
  overflow: hidden;
}